{% extends 'product/base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<h1>Products</h1>

{% if products %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Manufacturer</th>
            <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>${{ product.price }}</td>
            <td>{{ product.manufacturer }}</td>
            <td>{{ product.release_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No products yet.</p>
{% endif %}
{% endblock %}
